body {
    min-height: 100vh;
    min-width: 100vw;
    background: url("../../media/background.png") no-repeat;
    background-size: 100% 100%;
}

#container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);
}

#logo {
    max-width: 24em;
    max-height: 24em;
    margin-top: 2em;
}

#frame {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    padding: 1.2em 3em;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 4px 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.login-form-field-email {
    margin: 2em 0 0;
}

.login-form-field-password {
    margin: 2em 0 1em 0;
}

.login-button {
    align-self: center;
    margin-bottom: 1em;;
}

#login-form-remember-me-container {
    display: flex;
    align-items: center;
    color: #7d7d7d;
    font-size: 0.8em;
    padding: .5em 0 1.5em 0;
}

.login-form-clickable-text {
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    color: #2066FF;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
}

.login-form-clickable-text:hover, :focus {
    cursor: pointer;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.login-form-text {
    text-align: center;
    font-weight: bold;
    color: #7d7d7d;
    font-size: 0.8em;
}

.login-form-register-container {
    display: flex;
    flex-direction: row;
}