body {
    min-height: 100vh;
    min-width: 100vw;
    background: url("../../media/background.png") no-repeat;
    background-size: 100% 100%;
}

#container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);
}

#logo {
    max-width: 680px;
    max-height: 275px;
    margin-top: 2em;
}

#frame {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    padding: 10px 100px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 4px 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.login-form-field-email {
    margin: 24px 8px 0;
}

.login-form-field-password {
    margin: 24px 8px;
}

.login-button {
    align-self: center;
}